    body {
      padding: 0;
      margin: 0;
      background-image: url('https://occ-0-2218-988.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABYLaq630tL4Z5V4yAsWeAg4LOTRlMSdT8jgeD6E0fkYnlxCymvsR52JM7NuqRHLdMQ4o3KwktgSvfMBL7INkurRAcrm72kdXm6bh.webp?r=81f');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
    }

    header {

      &>div {
        background-color: rgb(21, 21, 21);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 50px;

        &>ul {
          list-style: none;
          background-color: 0, 0, 0, 0.7;
          display: flex;
          /* justify-content: flex-end; */
          align-items: center;
          gap: 50px;

          &>li {
            cursor: pointer;
            color: white;
            font-weight: 600;
          }

          &>li:nth-child(1) {
            font-size: 30px;
            font-weight: 700;
            color: red;
          }

          &>li:nth-child(8) {
            margin-right: 700px;
          }
        }
      }
    }

    main {

      display: flex;
      flex-direction: column;
      margin-top: 350px;
    }

    #info {
      width: 500px;
      font-size: 20px;
      color: white;
      font-weight: 700;
    }

    /* 버튼 레이아웃 */
    .btn-11-play {
      border: none;
      background-color: #000000;
      color: #000000;
      overflow: hidden;
    }

    .btn-11-info {
      border: none;
      background-color: gray;
      color: #ffffff;
      overflow: hidden;
    }

    .btn-11:hover {
      text-decoration: none;
      color: #fff;
    }

    .btn-11:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
    }

    .btn-11:hover {
      opacity: .7;
    }

    .btn-11:active {
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }

    .custom-btn {
      width: 190px;
      height: 60px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 20px;
      /* background: transparent; */
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
      outline: none;
      margin-left: 20px;
    }

    /* 까지 */

    nav {
      &>div>img {
        margin-top: 50px;
        margin-left: 30px;
      }
    }

    nav {
      &>div>img:hover {
        /* Zoom In #1 */

        
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .5s ease-in-out;
          transition: .5s ease-in-out;

          -webkit-transform: scale(1.18);
          transform: scale(1.18);
      }
    }


    #mp4div {
      background-color: #242424;
      margin-top: 250px;
    }